doctype html
html
	title Pagina con Jade
	body
		- var array = [1,2,3,4,5];
		- each item in array
			if true
			p.
				Ejemplo de interpolacion de etiquetas #{item}. Haga clic en el #[a(href="www.google.com") link] por favor
			p= item
			p item y otras cositas mas
			p #{item} y otras cositas mas
			// este genera error: p= item y otras cositas mas
		
//Ejemplo if ni each necesitan parentesis y ejemplos de interpolacion en Jade