doctype html
html
	title Pagina con Jade
	body
		- var array = [1,2,3,4,5];
		- each item in array
			case item
				when 1
					p el item era el primero. #{item}
				when 2
					p el item era el segundo. #{item}
				default
					p el item no era ni el uno ni el dos. #{item}
		
//Ejemplo case